{% load static %}
<link rel="stylesheet" href="{% static 'styles/nav_bar.css' %}">

<nav class="nav-bar">
  <div id="left-section">
    <div class="img-container">
      <img class="logo-img" src="{% static 'profile-cook.png' %}" alt="">
    </div>
  </div>
  <div class="middle-section">
    <div id="homepage">
      <div class="homepage-border">
        <a id="homepage-text" class="navbar-brand" href="/">Home</a>
      </div>
    </div>
    <div id="search-bar">
        <form action="{% url 'show_searched_page' %}" method="post">
        {% csrf_token %}
          <div id="search-input">
            <input class="form-control" id="search" type="search" placeholder="Search by recipe name or ingredients (eg: tomato lemon pasta)" name="searched">
          </div>
      </form>
    </div>
    <div id="create-recipe">
      <a id="create-recipe-text" class="nav-link" href="{% url 'show_create_recipe' %}">Create Recipe</a>
    </div>
  </div>
  <div class="right-section"></div>
</nav>

 
 