body{
  background-image: url('../trying.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  justify-content: center;
  align-items: center;
}
/* taking out the search bar from nav div */
#nav-bar{
  display: flex;
  flex-direction: row;
  } 
  #middle-section{
    display: flex;
  } 
  #left-section{
    margin-right: 3px;
  }
  #search-bar{
    display: none;
   }
  #homepage{
    margin: 0;
  }
  .main-container{
    display: flex;
    flex-direction: column;
    position: relative; 
  }
 
form{
  margin-top: 35%;
  margin-left: 4%;
  width: 800px;
}
  
@media (max-width: 1200px) {
  .search-form {
    margin-left: 48px;
    width: 90vw;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  #search-row{
    display: block;
    
  }
  #search-text{
    text-align: center;
  } 
  #search-button{
    display: block;
    visibility: hidden;
    padding: 0;
  } 
}  
.search-row{
display: flex;


} 
#search-text{
height: 50px;
opacity: 70%
} 
#search-text:focus{
  opacity: 1;
}
