body{
  background-image: url('../trying.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  justify-content: center;
  align-items: center;
}
/* taking out the search bar from nav div */
.nav-bar{
  display: flex;
  }  
  #left-section{
    margin-right: 3px;
  }
  #search-bar{
    display: none;
   }
  #homepage{
    margin: 0;
  }
  .main-container{
    display: flex;
    flex-direction: column;
    position: relative; 
  }
 
form{
  margin-top: 35%;
  margin-left: 4%;
  width: 800px;
}
.search-row{
display: flex;

} 
#search-text{
height: 50px;
opacity: 70%
} 
#search-text:focus{
  opacity: 1;
}
 