/* changing the navigation bar for mobile view */
@media (max-width: 480px) {
    #nav-bar {
      display: flex;
      justify-content: center;
    }
    #create-recipe {
      display: none;
    }
    #homepage {
      display: none;
    }
    #left-section {
      display: none;
    } 
    #right-section {
      display: none;
    }  
    #middle-section {
      display: flex;
      justify-content: center;
      width: 100%;
    }
    #search-bar {
      max-width: 74%;
    }
  }
  /* changing the navigation bar for tablet view */
  @media (max-width: 768px) {
    #nav-bar {
      display: flex;
      justify-content: center;
    }
    #create-recipe {
      display: none;
    }
    #homepage {
      display: none;
    }
    #left-section {
      display: none;
    } 
    #right-section {
      display: none;
    }  
    #middle-section {
      display: flex;
      justify-content: center;
      width: 100%;
    }
    #search-bar {
      max-width: 74%;
    }
  }
.main-container{
    position: relative;
    top: 40px;
    display: grid;
    grid-template-columns: 60% 1fr;
    flex-grow: 1;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;  
    background-color: white;  
}
    @media (max-width: 480px) {
        .main-container {
            display: block;
            width: 100%;
            margin-right: 0;
            margin-left: 0;
            padding-left: 0;
            padding-right: 0;
        }
        .img-border{
            max-width: 100%;
        }
}  
.dish-container{
    vertical-align: top;
    padding-right: 15px; 
    padding-left: 15px;
    padding-bottom: 20px;
}
.dish-header{
    width: auto;
    display: block;
    padding: 10px;
}
.dish-header-wording{
    font-weight: 600;
    text-align: center;
    text-decoration: underline;
    font-size: 1.2rem;
} 
.ingredients-header{
    color: rgb(59, 64, 69);
    display: block;
}
.ingredients{
    display: inline-block;  
    color: rgb(35, 38, 41);
    font-size: 1rem;
}
.recipe-header{
    color: rgb(59, 64, 69);
    display: block;
}
.recipe-header-wording{
    color: rgb(35, 38, 41); 
}
.recipe-steps{
    display: block;
    font-size: 1rem;
}
.media-container{
    position: relative;
    display: flex;
    vertical-align: top;
    justify-content: end;
    padding-top: 10px;
    padding-bottom: 20px;
   
}
.img-border{
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}
    @media (max-width: 480px){
        .media-image{
            object-fit: cover;
        }
        .img-border{
            box-sizing: border-box;
            margin-left: auto;
            margin-right: auto;
            max-width: 90%;
        }
        .main-container{
            padding-top: 3%;
            top: none;
        }
        .dish-container{
            padding-top: none;
            display: inline-block;
        }
        .recipe-header{
            padding-top: 3%;
            border-top: 0.5px solid black;
            border-width: thin;
        }
        .media-container{
            background: linear-gradient(180deg, white 60%,rgb(244, 239, 230, .7) 40%);
             
        }
}
    @media (max-width: 768px){
        .media-image{
            object-fit: cover;
        }
        .img-border{
            box-sizing: border-box;
            margin-left: auto;
            margin-right: auto;
            max-width: 90%;
        }
        .main-container{
            padding-top: 3%;
            top: none;
            display: block;
            padding-left: 0;
            padding-right: 0;
            margin-left: 0;
            margin-right: 0;
            width: 100%;
        }
        .dish-container{
            padding-top: none;
            display: block;
        }
        .recipe-header{
            padding-top: 3%;
            border-top: 0.5px solid black;
            border-width: thin;
        }
        .media-container{
            background: linear-gradient(180deg, white 60%,rgb(244, 239, 230, .7) 40%);
            
        }
    }
.media-img{
    max-width:100%;
   
}

