{% extends 'main.html' %}

{% block content %}
{% load static %}
 
<link rel="stylesheet" href='{% static "styles/search.css" %}'> 

<main class="base">
    <div class="content-container">
        {% for recipe in query_recipes %}
        <div class="box">
                <div class="img-cont">
                    {% if recipe.dish_img %}                 
                        <a href="{% url 'show_selected_page' recipe.pk %}">
                            <img class="img" src='{{recipe.dish_img.url}}' alt="Card image cap">                            
                        </a>
                    {% endif %}
                </div>
                <div class="box-text">
                    <a class="dish-link" href="{% url 'show_selected_page' recipe.pk %}">
                        {{recipe.dish_name}}                                                                      
                    </a>
                </div>
        </div>
        {% endfor %} 
    </div>
</main>
 

{% endblock %} -->